.main-component {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px 24px 32px;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .main-component {
    flex-direction: column;
    align-items: center;
  }
}
